/* BASIC STYLES HERE */
body{
    background-image: url(https://codeworks.blob.core.windows.net/public/assets/img/projects/inspire.jpg);
    /* background-image: url(https://bcw-sandbox.herokuapp.com/api/images[url]); */
    background-size: cover;
}

.todo-card{
    background-color: rgba(255, 255, 255, 0.276);
    border: 2px solid black;
    border-radius: 1%;
    /* margin: 2em;
    padding: 1em; */
    color: rgb(0, 0, 0);
    text-shadow: #ffffff 1px 0 10px;
}

.myclock{
    font-size: 8em;
    color: #ffffff;
    text-shadow: #0000008d 2px 2px 2px;
}

h3:hover{
    
}